# Insert the following snippet into your project .npmrc
@rpds:registry=https://northamerica-northeast1-npm.pkg.dev/th-rapids-nonprod-common-4212/npm/
//northamerica-northeast1-npm.pkg.dev/th-rapids-nonprod-common-4212/npm/:always-auth=true